/* index.css | Roman S. Collins | Thu, Sep 14, 2017 */

html {
    font-family: sans;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.banner {
    color: black;
    background-color: rgb(200, 200, 200);
    text-align: center;
    /* padding: 10px 0px 10px 0px; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 1rem;
    font-size: 18pt;
}

.site_title {
    font-size: 26pt;
}

.nav_bar {
    font-size: 18pt;
    text-decoration: none;
}

.nav_bar a:link {
    font-size: 18pt;
    text-decoration: none;
    color: black;
}

.nav_bar a:visited {
    font-size: 18pt;
    color: black;
}

.nav_bar a:hover,
.nav_bar a:visited a:hover {
    font-size: 18pt;
    color: white;
}

body {
    background-color: #e8e8e8;
    color: black;
    text-indent: 50px;
    padding-top: 10em;
}

.js-slideshow {
    width: 75%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: left;
    text-decoration: none;
}

.footer_content img {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.footer_content img a:hover,
.footer_content img a:visited {
}

/* ugly hack to force footer images to the center */
.footer_content {
    text-align: center;
    text-decoration: none;
}
